@import "../../_globalColor";

#topButton {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;

  /* match theme buttons */
  background-color: var(--btn-bg);
  color: white;

  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  font-size: 25px;
}

#topButton:hover {
  background-color: var(--btn-hover);
  transition: all ease-in-out 0.2s;
}
