// Light Mode Button Color
$buttonColorLight: #0e76a8;
$buttonHoverLight: #155e8b;

// Dark Mode Button Color
$buttonColorDark: #1f3b5c;
$buttonHoverDark: #294d73;

// Default Button Color
$buttonColor: $buttonColorLight;
$buttonHover: $buttonHoverLight;
$topButtonHover: $buttonHoverLight;

// text colors light theme
$titleColor: #000000;
$textColor: #000000;
$subTitle: #868e96;
$cardSubtitle: #666666;
$talkCardSubTitle: #7f8287;
$blogCardTitleColor: #262626;

// text color dark theme
$textColorDark: #ffffff;

// toggle switch colors
$toggleCheck: #2196f3;
$toggleSwitchSliderBG: #ccc;

// githubRepo specific colors
$githubRepoCardLanguageColorBG: #0000ff;
$githubRepoCardColor: rgb(88, 96, 105);
$githubRepoCardRepoCardStatsColor: rgb(106, 115, 125);
$githubRepoCardRepoNameColor: rgb(36, 41, 46);
$githubProfileCardLocationTS: #ffebcd;
$githubProfileCardBorder: #6c63ff;

// light background colors
$lightBackground1: #fff;
$lightBackground2: rgb(255, 255, 255);
$lightBackground3: #f5f2f4;
$blogCardContainerColor: #586069;

// dark background colors
$darkBackground: #171c28;

// light theme box shadows
$lightBoxShadowDark: rgba(0, 0, 0, 0.2);
$lightBoxShadow: rgba(0, 0, 0, 0.1);
$lightBoxShadowDarker: rgba(0, 0, 0, 0.3);

// dark theme box shadows
$darkBoxShadow: #d9dbdf;
$darkBoxShadow2: #ffffff;

// linear gradients
$experienceCardBlurredDivLG: linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.2)
);
$experienceCardBannerLG: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.5)
);

// borders
$progressBarBackground: rgb(243, 239, 239);
$lightBorder1: rgba(211, 211, 211, 0.397);
$educationCardBorder: #6BADCE;

// hovers
$achievementCertificateCardHoverDark: rgba(255, 255, 255, 0.2);
$blogCardHoverSmallColor: rgba(255, 255, 255, 0.8);
$headerHoverBG: #f4f4f4;
$contactDetailHoverTS: #b5b5b5;

// misc backgrounds
$progressBarSpanBG: #6BADCE;
$iconBackground: #333;
$appHeaderBG: #282c34;

// misc colors
$skillsColor: #6BADCE;
$appLink: #09d3ac;

// social media icons
$github: #333;
$linkedin: #0967c2;
$faceBook: #3b5998;
$gitlab: #fca326;
$google: #ea4335;
$twitter: #1da1f2;
$medium: #000;
$stackoverflow: #f48024;
$instagram: #c13584;
$kaggle: #20beff;